.student-profile {
    width: 50vw;
    height:70vh;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    overflow: clip;
    box-shadow: 1px 1px gray;
}
